



    <!-- page-title -->
    <section class="page-title centred" style="background-image: url(/images/background/page-title.jpg);">
        <div class="container">
            <div class="content-box">
                <div class="title">Team Details</div>
                <ul class="bread-crumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Team Details</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- page-title end -->


    <!-- team-details -->
    <section class="team-details gray-bg">
        <div class="container">
            <div class="row">
                <%= render "about/single-team"%>
            </div>
        </div>
    </section>
    <!-- team-details end -->


    <!-- education-section -->
    <section class="education-section inner-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 offset-lg-4 inner-column">
                    <div class="inner-content">
                        <h3 class="education-title">Education</h3>
                        <div class="content-box">
                            <div class="single-item">
                                <div class="date">Aug 2018</div>
                                <h4>Doctor of Philosophy</h4>
                                <div class="text">in Mechanical Engineering Stanford University</div>
                            </div>
                            <div class="single-item">
                                <div class="date">Oct 2018</div>
                                <h4>Master of Science</h4>
                                <div class="text">Kusan National University, Busan, South Korea</div>
                            </div>
                            <div class="single-item">
                                <div class="date">Nov 2018</div>
                                <h4>Bachelor of Science</h4>
                                <div class="text">University of California, Davis, USA</div>
                            </div>
                            <div class="single-item">
                                <div class="date">Dec 2018</div>
                                <h4>California Conference</h4>
                                <div class="text">California National University, California, USA</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- education-section end -->


    <!-- award-section -->
    <section class="award-section gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 offset-lg-4">
                    <div class="award-content">
                        <h3 class="award-title">Honors & Awards</h3>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="content-box">
                                    <div class="single-item">
                                        <span>Nov 2018</span>
                                        <h4>Doctor of Philosophy</h4>
                                        <div class="text">in Mechanical Engineering Stanford University</div>
                                    </div>
                                    <div class="single-item">
                                        <span>Dec 2018</span>
                                        <h4>Master of Science</h4>
                                        <div class="text">Kusan National University, Busan, South Korea</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="content-box">
                                    <div class="single-item">
                                        <span>Nov 2018</span>
                                        <h4>Bachelor of Science</h4>
                                        <div class="text">University of California, Davis, USA</div>
                                    </div>
                                    <div class="single-item">
                                        <span>Dec 2018</span>
                                        <h4>California Conference</h4>
                                        <div class="text">California National University, California, USA</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- award-section end -->


    <!-- possition-section -->
    <section class="possition-section inner-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 offset-lg-4 inner-column">
                    <div class="inner-content">
                        <h3 class="education-title">Possitions</h3>
                        <div class="content-box">
                            <div class="single-item">
                                <div class="date">Aug 2018</div>
                                <h4>Doctor of Philosophy</h4>
                                <div class="text">in Mechanical Engineering Stanford University</div>
                            </div>
                            <div class="single-item">
                                <div class="date">Oct 2018</div>
                                <h4>Master of Science</h4>
                                <div class="text">Kusan National University, Busan, South Korea</div>
                            </div>
                            <div class="single-item">
                                <div class="date">Nov 2018</div>
                                <h4>Bachelor of Science</h4>
                                <div class="text">University of California, Davis, USA</div>
                            </div>
                            <div class="single-item">
                                <div class="date">Dec 2018</div>
                                <h4>California Conference</h4>
                                <div class="text">California National University, California, USA</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- possition-section end -->
