<div id="form-messages" role="alert"></div>
<form id="contact-form" name="contact_form" class="default-form" action="/admin/contacts" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="form-group">
    <label>Name Completo</label>
    <input type="text" name="admin_contact[name]" required="">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" name="admin_contact[email]" required="">
  </div>
  <div class="form-group">
    <label>Telefone</label>
    <input type="text" name="admin_contact[phone]" required="">
  </div>
  <div class="form-group">
    <label>Mensagem</label>
    <textarea name="admin_contact[message]" required=""></textarea>
  </div>
  <div class="contact-button">
    <button type="submit" class="theme-btn" data-loading-text="Aguarde...">Enviar Mensagem</button>
  </div>
</form>

<script>
$( document ).ready(function() {
	$(function() {
    var form = $('#contact-form');
    var formMessages = $('#form-messages');
    $(form).submit(function(event) {
    	var formData = $(form).serialize();
       	event.preventDefault();
    	$.ajax({
    		async: true,
    		type: 'POST',
        dataType: 'json',
    		url: $(form).attr('action'),
    		data: formData
		})
		.done(function(response) {
    		$(formMessages).removeClass('alert alert-danger');
    		$(formMessages).addClass('alert alert-success');
			$(formMessages).text("Seu contato foi enviado! Retornaremos em breve.");
    		$('#name').val('');
    		$('#email').val('');
    		$('#phone').val('');
    		$('#message').val('');
		})
		.fail(function(data) {
    		$(formMessages).removeClass('alert alert-success');
    		$(formMessages).addClass('alert alert-danger');
       	$(formMessages).text('Oops! Alguma deu errado e o contato não pode ser efetuada.');
		})
	});
});
});
</script>
