<div class="single-item">
  <h4>Endereço</h4>
  <div class="text">Campinápolis-MT, Rua Alves Ferreira, nº ,Centro.</div>
</div>
<div class="single-item">
  <h4>Informação de Contato</h4>
  <div class="text">
    <p>Cel: 66 981</p>
    <p>Email: biohematocamp@gmail.com</p>
  </div>
</div>
<div class="link"><a href="/consultas/index" class="theme-btn">Agendar Consulta</a></div>
