<div class="row">
  <div class="col-lg-8 col-md-12 col-sm-12 content-column">
    <div class="inner-content">
      <div class="content-style-one">
        <div class="inner-title">Preencha o Formulario</div>
        <div class="text">
            <p>Preencha o formulario e retornaremos o contato</p>
            <p>Receba informações sobre nossa equipe de profissionais qualificados e especializados. São pessoas altamente treinadas e preparadas para proporcionar um melhor atendimento aos clientes.</p>
        </div>
      </div>
      <!-- <div class="content-style-two">
        <div class="inner-title">PHD Opportunities</div>
        <div class="text">
          <p>Quasi architebeatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptassit. aspernatur aut odit fugit sed quia consequuntur magni dolores eos qui ratione voluptam sequi nescuntneque porro quisquam  dolorem ipsum quia dolor sit amet consectetur adipiscing velit sed quia numquam eius modi tempora incidunt ut labore et dolore consectetur adipisicing elit sed eiusmod tempor incididunt.ut labore et dolore magna aliqua enim ad minim veniam.</p>
        </div>
      </div> -->
      <div class="contact-form-area">
        <%= render partial: "contato/form" %>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 col-sm-12 sidebar-column">
    <div class="sidebar-content">
      <%= render partial: "contato/sidebar" %>
    </div>
  </div>
</div>
