<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 event-column">
        <div class="single-event-content">
            <div class="date centred">25<br /><span>Nov 2018</span></div>
            <h4><a href="event-details.html">16th Batch BSc Students Reunion</a></h4>
            <ul class="info-content">
                <li><i class="fa fa-map-marker"></i>White Palace, Brookyn, NYC</li>
                <li><i class="fa fa-clock-o"></i>10:00AM - 11:00AM</li>
            </ul>
            <div class="link"><a href="event-details.html"><i class="flaticon-next"></i></a></div>
        </div>
        <div class="single-event-content">
            <div class="date centred">25<br /><span>Nov 2018</span></div>
            <h4><a href="event-details.html">16th Batch MSc Students Reunion</a></h4>
            <ul class="info-content">
                <li><i class="fa fa-map-marker"></i>White Palace, Brookyn, NYC</li>
                <li><i class="fa fa-clock-o"></i>10:00AM - 11:00AM</li>
            </ul>
            <div class="link"><a href="event-details.html"><i class="flaticon-next"></i></a></div>
        </div>
        <div class="single-event-content">
            <div class="date centred">27<br /><span>Dec 2018</span></div>
            <h4><a href="event-details.html">16th Batch BSc Students Reunion</a></h4>
            <ul class="info-content">
                <li><i class="fa fa-map-marker"></i>White Palace, Brookyn, NYC</li>
                <li><i class="fa fa-clock-o"></i>10:00AM - 11:00AM</li>
            </ul>
            <div class="link"><a href="event-details.html"><i class="flaticon-next"></i></a></div>
        </div>
        <div class="single-event-content">
            <div class="date centred">27<br /><span>Dec 2018</span></div>
            <h4><a href="event-details.html">16th Batch MSc Students Reunion</a></h4>
            <ul class="info-content">
                <li><i class="fa fa-map-marker"></i>White Palace, Brookyn, NYC</li>
                <li><i class="fa fa-clock-o"></i>10:00AM - 11:00AM</li>
            </ul>
            <div class="link"><a href="event-details.html"><i class="flaticon-next"></i></a></div>
        </div>
        <div class="single-event-content">
            <div class="date centred">30<br /><span>Dec 2018</span></div>
            <h4><a href="event-details.html">16th Batch PSD Students Reunion</a></h4>
            <ul class="info-content">
                <li><i class="fa fa-map-marker"></i>White Palace, Brookyn, NYC</li>
                <li><i class="fa fa-clock-o"></i>10:00AM - 11:00AM</li>
            </ul>
            <div class="link"><a href="event-details.html"><i class="flaticon-next"></i></a></div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 event-column">
        <div class="single-event-content">
            <div class="date centred">25<br /><span>Nov 2018</span></div>
            <h4><a href="event-details.html">17th Batch BSc Students Reunion</a></h4>
            <ul class="info-content">
                <li><i class="fa fa-map-marker"></i>White Palace, Brookyn, NYC</li>
                <li><i class="fa fa-clock-o"></i>10:00AM - 11:00AM</li>
            </ul>
            <div class="link"><a href="event-details.html"><i class="flaticon-next"></i></a></div>
        </div>
        <div class="single-event-content">
            <div class="date centred">25<br /><span>Nov 2018</span></div>
            <h4><a href="event-details.html">17th Batch MSc Students Reunion</a></h4>
            <ul class="info-content">
                <li><i class="fa fa-map-marker"></i>White Palace, Brookyn, NYC</li>
                <li><i class="fa fa-clock-o"></i>10:00AM - 11:00AM</li>
            </ul>
            <div class="link"><a href="event-details.html"><i class="flaticon-next"></i></a></div>
        </div>
        <div class="single-event-content">
            <div class="date centred">27<br /><span>Dec 2018</span></div>
            <h4><a href="event-details.html">17th Batch BSc Students Reunion</a></h4>
            <ul class="info-content">
                <li><i class="fa fa-map-marker"></i>White Palace, Brookyn, NYC</li>
                <li><i class="fa fa-clock-o"></i>10:00AM - 11:00AM</li>
            </ul>
            <div class="link"><a href="event-details.html"><i class="flaticon-next"></i></a></div>
        </div>
        <div class="single-event-content">
            <div class="date centred">27<br /><span>Dec 2018</span></div>
            <h4><a href="event-details.html">17th Batch MSc Students Reunion</a></h4>
            <ul class="info-content">
                <li><i class="fa fa-map-marker"></i>White Palace, Brookyn, NYC</li>
                <li><i class="fa fa-clock-o"></i>10:00AM - 11:00AM</li>
            </ul>
            <div class="link"><a href="event-details.html"><i class="flaticon-next"></i></a></div>
        </div>
        <div class="single-event-content">
            <div class="date centred">30<br /><span>Dec 2018</span></div>
            <h4><a href="event-details.html">17th Batch PSD Students Reunion</a></h4>
            <ul class="info-content">
                <li><i class="fa fa-map-marker"></i>White Palace, Brookyn, NYC</li>
                <li><i class="fa fa-clock-o"></i>10:00AM - 11:00AM</li>
            </ul>
            <div class="link"><a href="event-details.html"><i class="flaticon-next"></i></a></div>
        </div>
    </div>
</div>
