
    <!-- page-title -->
    <section class="page-title centred" style="background-image: url(/images/background/page-title.jpg);">
        <div class="container">
            <div class="content-box">
                <div class="title">Data da Consulta</div>
                <ul class="bread-crumb">
                    <li><a href="index.html">Consulta</a></li>
                    <li>Data</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- page-title end -->


    <!-- our-event -->
    <section class="our-event event-page">
        <div class="container">
            <%= render "consult/our-event"%>
        </div>
    </section>
    <!-- our-event -->
