<div class="single-item">
    <h5><a href="event-details.html">Haematopoietic stem cell transplan tation for autoimmune diseases</a></h5>
    <div class="odi-text">DOI: 10.29322/IJSRP.8.8.2018.p80113</div>
    <div class="text"><i class="flaticon-pc"></i>Publisher’s website</div>
</div>
<div class="single-item">
    <h5><a href="event-details.html">Excepteur sint occaecat cupidatat non proident, sunt in culpa</a></h5>
    <div class="odi-text">DOI: 10.29322/IJSRP.8.8.2018.p80113</div>
    <div class="text"><i class="flaticon-pc"></i>Publisher’s website</div>
</div>
<div class="single-item">
    <h5><a href="event-details.html">Lorem ipsum dolor sit amet, consectetur eiusmod tempor incididunt</a></h5>
    <div class="odi-text">DOI: 10.29322/IJSRP.8.8.2018.p80113</div>
    <div class="text"><i class="flaticon-pc"></i>Publisher’s website</div>
</div>
