<div class="single-item">
    <h5><a href="event-details.html">Haematopoietic stem cell transplan tation for autoimmune diseases</a></h5>
    <div class="text"><i class="flaticon-small-calendar"></i>02 Nov, 2018</div>
</div>
<div class="single-item">
    <h5><a href="event-details.html">Excepteur sint occaecat cupidatat non proident, sunt in culpa</a></h5>
    <div class="text"><i class="flaticon-small-calendar"></i>12 Nov, 2018</div>
</div>
<div class="single-item">
    <h5><a href="event-details.html">Lorem ipsum dolor sit amet, consectetur eiusmod tempor incididunt</a></h5>
    <div class="text"><i class="flaticon-small-calendar"></i>10 Dec, 2018</div>
</div>
<div class="single-item">
    <h5><a href="event-details.html">Inventore veritatis et quasi architebeatae vitae dicta sunt explicabo</a></h5>
    <div class="text"><i class="flaticon-small-calendar"></i>25 Dec, 2018</div>
</div>
