<div class="container">
<div class="row">

<% @clin_informations.each do |clininformation|   %>
<div class="col-lg-3 col-md-6 col-sm-12 service-column">
    <div class="single-service-content inner-box">
        <figure class="image-box">
            <%= cl_image_tag(clininformation.image.key,class:"img-responsive", :transformation =>[{:width=>270, :height=>200,:crop=>"scale"}]) %>
            <!-- <img src="/images/resource/medico_cora.jpg" alt=""> -->
            <div class="overlay">
                <div class="wrapper">
                    <a href="#"><i class="fa fa-link"></i></a>
                </div>
            </div>
        </figure>
        <div class="lower-content">
          <h5><a href="#"><%= clininformation.title.titleize%></a></h5>
          <div class="text"><%= clininformation.description %></div>

            <!-- <h5><a href="#">Esta na hora de cuidar do coração.</a></h5>
            <div class="text">Como anda a saúde do seu coração? Se você não sabe responder,
               então está na hora de você tomar uma atitude. Atualmente a medicina trabalha com a prevenção,
                você não precisa esperar algum sintoma ou doença aparecer para procurar um médico,
                 mas deve fazer sempre exames de rotina, assim, muitas doenças podem ser evitadas.</div> -->
            <div class="link"><a href="#" class="theme-btn-two">Leia mais</a></div>
        </div>
    </div>
</div>
<% end %>


<!--
<div class="col-lg-3 col-md-6 col-sm-12 service-column">
    <div class="single-service-content inner-box">
        <figure class="image-box">
            <img src="/images/resource/medico_gineco.jpg" alt="">
            <div class="overlay">
                <div class="wrapper">
                    <a href="#"><i class="fa fa-link"></i></a>
                </div>
            </div>
        </figure>
        <div class="lower-content">
            <h5><a href="#">Ginecologia</a></h5>
            <div class="text">É a especialidade que cuida da saúde da mulher em todas as idades.
              Responsável pelo acompanhamento contínuo de sua saúde, solicitação de exames de rotina,
               prescrição de métodos contraceptivos.</div>
            <div class="link"><a href="#" class="theme-btn-two">Leia mais</a></div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-6 col-sm-12 service-column">
    <div class="single-service-content inner-box">
        <figure class="image-box">
            <img src="/images/resource/medico_derma.jpg" alt="">
            <div class="overlay">
                <div class="wrapper">
                    <a href="#"><i class="fa fa-link"></i></a>
                </div>
            </div>
        </figure>
        <div class="lower-content">
            <h5><a href="#">Dermatologia</a></h5>
            <div class="text">É a especialidade que diagnostica, trata e auxilia na prevenção das doenças de pele.
              Atua também no cuidado com a estética facial, manchas, queda de cabelos.</div>
            <div class="link"><a href="#" class="theme-btn-two">Leia mais</a></div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-6 col-sm-12 service-column">
    <div class="single-service-content inner-box">
        <figure class="image-box">
            <img src="/images/resource/medico_fami.jpg" alt="">
            <div class="overlay">
                <div class="wrapper">
                    <a href="#"><i class="fa fa-link"></i></a>
                </div>
            </div>
        </figure>
        <div class="lower-content">
            <h5><a href="#">Saúde da Família</a></h5>
            <div class="text">É difícil encontrar um indivíduo que não tenha uma rotina bastante agitada.
              Em muitos casos, essas pessoas precisam lidar com pressão no ambiente de trabalho,
              o estresse causado pelo trânsito e outros problemas pessoais capazes de gerar preocupação.
               A longo prazo, esse cenário é um dos responsáveis por prejudicar a nossa qualidade de vida,
                nos deixando mais vulneráveis a contrair e desenvolver doenças. E para evitar complicações futuras,
                 o melhor caminho é cuidar da saúde da família.</div>
            <div class="link"><a href="#" class="theme-btn-two">Leia mais</a></div>
        </div>
    </div>
</div> -->



</div>
</div>
