
    <!-- main-slider -->
    <section class="main-slider">

        <div class="main-slider-carousel owl-carousel owl-theme">

            <div class="slide" style="background-image:url(/images/main-slider/1.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 offset-lg-2">
                            <div class="content">
                                <h1>Saúde Preventiva</h1>
                                <div class="slider-btn">
                                    <a href="#" class="theme-btn slide-btn-one">Marcar Consulta</a>
                                    <a href="#" class="theme-btn-two slide-btn-two">Entrar em Contato</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide" style="background-image:url(/images/main-slider/2.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 offset-lg-2">
                            <div class="content">
                                <h1>Profissional Perto de Você</h1>
                                <div class="slider-btn">
                                    <a href="#" class="theme-btn slide-btn-one">Marcar Consulta</a>
                                    <a href="#" class="theme-btn-two slide-btn-two">Entrar em Contato</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide" style="background-image:url(/images/main-slider/3.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 offset-lg-2">
                            <div class="content">
                                <h1>Resultado Online</h1>
                                <div class="slider-btn">
                                    <a href="#" class="theme-btn slide-btn-one">Marcar Consulta</a>
                                    <a href="#" class="theme-btn-two slide-btn-two">Entrar em Contato</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- main-slider end -->


    <!-- service-section -->
    <section class="service-section gray-bg">

                <%= render "doctor/service"%>

    </section>
    <!-- service-section end -->

  <section class="about-section about-style-two">
    <!-- about-style-seven -->
    <section class="about-style-four about-style-seven gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <%= render "clinic/content-column"%>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 offset-lg-1 appointment-column">
                    <%= render "clinic/appointment-column" %>
                </div>
            </div>
        </div>
    </section>
    <!-- about-style-seven -->
  </section>

    <!-- event-section -->
    <section class="event-section gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 column">
                    <div class="latest-event">
                        <div class="event-title">Detalhes da Consulta</div>
                        <%= render "doctor/latest-event"%>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 column">
                    <div class="event-content">
                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-sm-12">
                                <%= render "doctor/event-image"%>
                            </div>
                            <div class="col-lg-7 col-md-6 col-sm-12">
                                <div class="content-box">
                                    <div class="event-title">Data de Consulta</div>
                                    <%= render "doctor/content-box" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- event-section -->
