<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 video-column">
        <div class="video-gallery">
            <img src="/images/resource/video-image-4.jpg" alt="Awesome Video Gallery">
            <div class="overlay-gallery">
                <div class="icon-holder">
                    <div class="icon wow zoomIn" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <a class="html5lightbox" title="Video" href="https://www.youtube.com/watch?v=y9dfkrZLUtU"><i class="flaticon-play-button"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
        <div class="about-content">
            <div class="title-box">
                <div class="sec-title">Laboratorio Confiavél<br /></div>
                <div class="title-text">Exames e Consultas de Alta Qualidade</div>
            </div>
            <div class="top-text">Conheça Nossas Especialidades</div>
            <div class="text"><p>A fim de prestar um atendimento exemplar; Contamos com consultas agendadas de vários médicos especializados
               em neurologia, pediatria, gastroenterologia,  dermatologia, oftalmologia, otorrinolaringologia, endocrinologia,
               ortopedia, reumatologia, hematologia, pneumologia, psicoterapia, psiquiatria, fonoaudiologia,
               fisioterapia motora e respiratória, nutrição, neurocirurgia e eletroencefalograma,
               nefrologia, cardiologia, cirurgia pediátrica e cirurgia plástica, urologia, hepatologia,
               alergologia e imunologia, entre outros.</p>
            <p>Marque sua consulta, que entraremos em contato para mais informações.</p>.</div>
        </div>
    </div>
</div>



<!-- <div class="container">
<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 video-column">
        <div class="video-gallery">
            <img src="/images/resource/video-image-4.jpg" alt="Awesome Video Gallery">
            <div class="overlay-gallery">
                <div class="icon-holder">
                    <div class="icon wow zoomIn" data-wow-delay="300ms" data-wow-duration="1500ms">
                          <a href="<%= cl_url(LabAbout.first.video.key,:resource_type => :video, :format => "webm",:crop=>"scale") unless LabAbout.first.nil? %>"><i class="flaticon-play-button"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
        <div class="about-content">
            <div class="title-box">
                <div class="sec-title"><%= @labsobre.title if not @labsobre.nil?%></div>
                <div class="title-text"><%= @labsobre.sub_title if not @labsobre.nil? %></div>
            </div>
            <div class="top-text"><%= @labsobre.name if not @labsobre.nil? %></div>
            <div class="text"><%= @labsobre.description if not @labsobre.nil? %></div>
        </div>
    </div>
</div>
</div> -->
