<div class="container">
  <div class="content-box centred">
    <div class="cta-title">All The Services You Expect<br />From Aculia</div>
    <div class="link"><a href="#" class="theme-btn">Contact Us</a></div>
  </div>
  <div class="lower-cta-content">
    <div class="title">Immunology: T-cell tweaks<br />to target tumours</div>
    <div class="list-content clearfix">
      <ul class="list">
        <li>Bachelor of Science</li>
        <li>Doctor of Philosophy</li>
        <li>Master of Science</li>
      </ul>
      <ul class="list">
        <li>Bachelor of Science</li>
        <li>Doctor of Philosophy</li>
        <li>Master of Science</li>
      </ul>
      <ul class="list">
        <li>Bachelor of Science</li>
        <li>Doctor of Philosophy</li>
        <li>Master of Science</li>
      </ul>
      <ul class="list">
        <li>Bachelor of Science</li>
        <li>Doctor of Philosophy</li>
        <li>Master of Science</li>
      </ul>
    </div>
  </div>
</div>
