<div class="title">Principais exames<br />com entrega rápida.</div>
<div class="list-content clearfix">

<ul class="list">
    <li>Hemograma</li>
    <li>Glicose</li>
    <li>Colesterol</li>
</ul>
<ul class="list">
    <li>Ureia e creatina</li>
    <li>TSH e T4 livre</li>
    <li>Ácido úrico</li>
</ul>
<ul class="list">
    <li>Exames de fezes</li>
    <li>Exames de  urina</li>
    <li>Protoparasitológico</li>
</ul>
<ul class="list">
    <li>Coprocultura</li>
    <li>EAS ou Urina tipo 1</li>
    <li>Urocultura</li>
</ul>

</div>
</div>
