<div class="shape-1 wow zoomIn animated"></div>     <!-- NÃO ALTERAR -->
<div class="shape-2 wow zoomIn animated"></div>     <!-- NÃO ALTERAR -->
<div class="container">                            <!-- NÃO ALTERAR -->
    <div class="feature-content">                  <!-- NÃO ALTERAR -->
        <div class="row">

          <div class="col-lg-4 col-md-6 col-sm-12 feature-column">
              <div class="single-item hvr-float-shadow">
                  <div class="icon-box"><i class="flaticon-paper"></i></div>
                  <h4><a href="#">Nossa marca</a></h4>
                  <div class="text">Atendimento personalizado e de excelência, visando às necessidades
                     dos clientes, com qualidade, confiabilidade e confidencialidade dos resultados.</div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 feature-column">
              <div class="single-item hvr-float-shadow">
                  <div class="icon-box"><i class="flaticon-pc"></i></div>
                  <h4><a href="#">Nossa estrutura</a></h4>
                  <div class="text">BIOHEMATO está estruturado para Excelência no Atendimento, priorizando qualidade,
                    prazo e relacionamento com os clientes.</div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 feature-column">
              <div class="single-item hvr-float-shadow">
                  <div class="icon-box"><i class="flaticon-atom"></i></div>
                  <h4><a href="#">Nossa filosofia</a></h4>
                  <div class="text">Atender com qualidade, de forma humanizada
                     e personalizada a população que busca uma análise diagnóstica. Temos paixão em servir com excelência!</div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 feature-column">
              <div class="single-item hvr-float-shadow">
                  <div class="icon-box"><i class="flaticon-cardiogram"></i></div>
                  <h4><a href="#">Nossas análises</a></h4>
                  <div class="text">Unido a grandes centros diagnósticos em todo o mundo, disponibiliza o que há de mais
                     moderno em medicina diagnóstica.</div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 feature-column">
              <div class="single-item hvr-float-shadow">
                  <div class="icon-box"><i class="flaticon-drugs"></i></div>
                  <h4><a href="#">Nossa qualidade</a></h4>
                  <div class="text">Rigoroso controle de qualidade especializado
                   para garantir maior precisão e segurança nos resultados.</div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 feature-column">
              <div class="single-item hvr-float-shadow">
                  <div class="icon-box"><i class="flaticon-cancer"></i></div>
                  <h4><a href="#">Nossa equipe</a></h4>
                  <div class="text">Uma equipe preparada para lhe receber com a qualidade que você merece.</div>
              </div>
          </div>
        </div>
        </div>
        </div>
