<div class="shape-1 wow zoomIn animated"></div>
<div class="shape-2 wow zoomIn animated"></div>
<div class="container">
  <div class="feature-content">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 feature-column">
        <div class="single-item hvr-float-shadow">
          <div class="icon-box"><i class="flaticon-paper"></i></div>
          <h4><a href="#">Consultas Médicas</a></h4>
          <div class="text">A Biohemato oferece consultas em varias especialidades médicas.</div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 feature-column">
        <div class="single-item hvr-float-shadow">
          <div class="icon-box"><i class="flaticon-pc"></i></div>
          <!-- <h4><a href="#">Nossa Estrutura</a></h4>
          <div class="text">BIOHEMATO está estruturado para Excelência no Atendimento, priorizando qualidade,
            prazo e relacionamento com os clientes.</div>
        </div> -->
        <h4><a href="#">Exames de Imagens</a></h4>
        <div class="text">A Biohemato conta com ampla gama de exames de imagens.</div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 feature-column">
        <div class="single-item hvr-float-shadow">
          <div class="icon-box"><i class="flaticon-atom"></i></div>
          <!-- <h4><a href="#">Nosso Objetivo</a></h4>
          <div class="text">Atender com qualidade, de forma humanizada
             e personalizada a população que busca uma análise diagnóstica. Temos paixão em servir com excelência!</div>
        </div> -->
        <h4><a href="#">Exames Laborotoriais</a></h4>
        <div class="text">Exames laboratoriais com qualidade realizados em todas as nossas unidades.</div>
         </div>
      </div>
      <!-- <div class="col-lg-4 col-md-6 col-sm-12 feature-column">
        <div class="single-item hvr-float-shadow">
          <div class="icon-box"><i class="flaticon-cardiogram"></i></div>
          <h4><a href="#">Cardiologia</a></h4>
          <div class="text">O médico cardiologista age em prol do diagnóstico e tratamento de doenças e disfunções ligadas ao sistema cardiovascular, que na maioria das vezes, são problemas, como arritmias.</div>
        </div>
      </div> -->
      <!-- <div class="col-lg-4 col-md-6 col-sm-12 feature-column">
        <div class="single-item hvr-float-shadow">
          <div class="icon-box"><i class="flaticon-drugs"></i></div>
          <h4><a href="#">Glicemia</a></h4>
          <div class="text">Excepteur sint ocecat cupidatatnon proi dent sunt in culpa quiofficia deserunt mollit anim est.</div>
        </div>
      </div> -->
      <!-- <div class="col-lg-4 col-md-6 col-sm-12 feature-column">
        <div class="single-item hvr-float-shadow">
          <div class="icon-box"><i class="flaticon-cancer"></i></div>
          <h4><a href="#">Hematologia</a></h4>
          <div class="text">O hematologia é responsável pelo diagnóstico e acompanhamento das doenças no sangue, pesquisando elementos estranhos nas células sanguíneas, sendo equipado com equipamentos que tem a finalidade de entregar os resultados rápidos e seguros.</div>
        </div>
      </div> -->
    </div>
  </div>
</div>
