<div class="container">
  <div class="title-box centred">
    <div class="sec-title">Nossos Serviços</div>
    <div class="top-text">  --- Exames ---  </div>
  </div>
  <div class="products-discription">
    <div class="custom-tab-title centred">
      <ul class="tab-title clearfix">
        <li data-tab-name="details" class="active">Ferratina</li>
        <li data-tab-name="review">Glicemia e Hemoglobina</li>
        <li data-tab-name="review-1">Hemograma Completo</li>
        <li data-tab-name="review-2">HIV</li>
        <li data-tab-name="review-3">PSA</li>
        <li data-tab-name="review-4">Exame de Urina</li>
      </ul>
    </div>
    <div class="tab-details-content">
      <div class="tab-content" id="details">
        <div class="single-tab-content">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
              <figure class="image-box"><img src="images/resource/service-5.jpg" alt=""></figure>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
              <div class="content-box">
                <div class="title">Ferratina</div>
                <div class="text">
                  <p>O teste de ferritina é utilizado no diagnóstico e seguimento de anemias
                    ferroprivas e hemocromatose. A dosagem de ferritina reflete o nível de
                    estoque celular de ferro. Pode estar aumentada em
                    etilistas ativos e em indivíduos com outras doenças
                    hepáticas como hepatite autoimune e hepatite C.
                    Na presença de doença hepática, em estados inflamatórios
                    como artrite reumatóide, doenças malignas ou terapia com ferro, a deficiência
                    do ferro pode não ser refletida pela ferritina sérica.
                    Encontra-se aumentada em desordens infecciosas e inflamatórias.
                    A ferritina é um reagente de fase aguda.</p>
                  <p></p>
                </div>
                <div class="link"><a href="#" class="theme-btn">Mais Informações</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" id="review">
        <div class="single-tab-content">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
              <figure class="image-box"><img src="images/resource/service-5.jpg" alt=""></figure>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
              <div class="content-box">
                <div class="title">Glicemia e Hemoglobina</div>
                <div class="text">
                  <p>O teste de glicemia detecta a hipo e a hiperglicemia, ou seja, quando há pouco
                     ou muito açúcar em circulação.
                     O segundo quadro denuncia o diabetes mesmo quando não há sintomas da doença.
                  </p>
                  <p>Já a hemoglobina glicada também dosa a glicose, mas por meio da análise
                    de uma porção do sangue que se liga a ela: a tal hemoglobina.
                    Assim, consegue determinar o consumo médio de açúcar dos últimos 90 dias,
                    que é o tempo de vida da molécula.</p>
                </div>
                <div class="link"><a href="#" class="theme-btn">Mais Informações</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" id="review-1">
        <div class="single-tab-content">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
              <figure class="image-box"><img src="images/resource/service-5.jpg" alt=""></figure>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
              <div class="content-box">
                <div class="title">Hemograma Completo</div>
                <div class="text">
                  <p>Hemograma é um exame médico que avalia as células que compõem o fluido sanguíneo.
                  Nele, é possível obter diversas informações, tais como: a contagem do número de células
                  para cada tipo presente no sangue (divididas em 3 tipos: glóbulos vermelhos, brancos e plaquetas), sua forma
                  e tamanho e a concentração média de hemoglobina.</p>
                  <p>Deste modo, é possível avaliar a condição geral de saúde de uma pessoa</p>
                </div>
                <div class="link"><a href="#" class="theme-btn">Mais Informações</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" id="review-2">
        <div class="single-tab-content">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
              <figure class="image-box"><img src="images/resource/service-5.jpg" alt=""></figure>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
              <div class="content-box">
                <div class="title">HIV</div>
                <div class="text">
                  <p>O exame do HIV é feito a partir da coleta de sangue.
                  O exame de sangue solicitado com esse fim específico, o anti-HIV, detecta os anticorpos
                  produzidos contra o vírus.
                  Quando o exame de sangue anti-HIV é positivo,
                  há necessidade de realização de um outro tipo de exame a título de confirmação.
                  </p>
                  <p>
                    Esse tipo de exame detecta a presença do RNA do vírus.
                  </p>
                </div>
                <div class="link"><a href="#" class="theme-btn">Mais Informações</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" id="review-3">
        <div class="single-tab-content">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
              <figure class="image-box"><img src="images/resource/service-5.jpg" alt=""></figure>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
              <div class="content-box">
                <div class="title">PSA</div>
                <div class="text">
                  <p>O exame do HIV é feito a partir da coleta de sangue.
                  O exame de sangue solicitado com esse fim específico, o anti-HIV, detecta os anticorpos
                  produzidos contra o vírus.
                  Quando o exame de sangue anti-HIV é positivo,
                  há necessidade de realização de um outro tipo de exame a título de confirmação.
                  </p>
                  <p>
                    Esse tipo de exame detecta a presença do RNA do vírus.
                  </p>
                </div>
                <div class="link"><a href="#" class="theme-btn">Mais Informações</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" id="review-4">
        <div class="single-tab-content">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
              <figure class="image-box"><img src="images/resource/service-5.jpg" alt=""></figure>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
              <div class="content-box">
                <div class="title">Exame de Urina</div>
                <div class="text">
                  <p>Podemos dividir em Parcial de Urina ou Exame Qualitativo de Urina (EQU),
                    realizado com urina de amostra isolada,
                    objetivando diagnosticar a presença de doenças do trato urinário como:
                    infecções, inflamações, litíases, diabetes, insuficiência renal aguda e crônica,
                    entre outros.
                  </p>
                  <p>Cultura de urina ou Urocultura:
                    exame realizado de preferência com o jato médio da primeira urina matinal.
                    Serve para identificar a bactéria causadora da infecção urinária,
                    que é complementado com o Teste de Sensibilidade a Antimicrobianos (TSA),
                    que identificará o antibiótico adequado para tratar a infecção.
                    Por isso este exame não deve ser realizado quando o paciente estiver
                    fazendo uso de antibióticos (com raras exceções).
                  </p>
                </div>
                <div class="link"><a href="#" class="theme-btn">Mais Informações</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
