<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 service-column">
      <div class="single-service-content inner-box">
        <figure class="image-box">
          <img src="images/resource/service-1.jpg" alt="">
          <div class="overlay">
            <div class="wrapper">
              <a href="#"><i class="fa fa-link"></i></a>
            </div>
          </div>
        </figure>
        <div class="lower-content">
          <h5><a href="#">Bioquímica:</a></h5>
          <div class="text">Os exames realizados dizem respeito a investigação
          do funcionamento dos processos metabólicos do organismo.
          São exemplos: glicose, colesterol, triglicerídeos, exames de função hepática,
          função renal, função cardíaca, eletrólitos, etc.</div>
          <!-- <div class="link"><a href="#" class="theme-btn-two">Read More</a></div> -->
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 service-column">
      <div class="single-service-content inner-box">
        <figure class="image-box">
          <img src="images/resource/service-2.jpg" alt="">
          <div class="overlay">
            <div class="wrapper">
              <a href="#"><i class="fa fa-link"></i></a>
            </div>
          </div>
        </figure>
        <div class="lower-content">
          <h5><a href="#">Hematologia:</a></h5>
          <div class="text">investiga condições relacionadas ao sangue
          e suas frações. O Hemograma é o exame mais comum entre
          as solicitações médicas. Este tipo de exame é
          frequentemente solicitado devido à relevância do sangue
          em sinalizar alterações.</div>
          <!-- <div class="link"><a href="#" class="theme-btn-two">Read More</a></div> -->
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 service-column">
      <div class="single-service-content inner-box">
        <figure class="image-box">
          <img src="images/resource/service-3.jpg" alt="">
          <div class="overlay">
            <div class="wrapper">
              <a href="#"><i class="fa fa-link"></i></a>
            </div>
          </div>
        </figure>
        <div class="lower-content">
          <h5><a href="#">Hormônios:</a></h5>
          <div class="text">Moléculas produzidas por glândulas e que exercem efeito
          específico sobre uma ou mais partes do corpo, os exames
          dizem respeito a função tireoideana, reprodutora, entre outros.
          Dosagens de PSA e TSH são exemplos desses exames.</div>
          <!-- <div class="link"><a href="#" class="theme-btn-two">Read More</a></div> -->
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 service-column">
      <div class="single-service-content inner-box">
        <figure class="image-box">
          <img src="images/resource/service-4.jpg" alt="">
          <div class="overlay">
            <div class="wrapper">
              <a href="#"><i class="fa fa-link"></i></a>
            </div>
          </div>
        </figure>
        <div class="lower-content">
          <h5><a href="#">Microbiologia e Parasitologia: a</a></h5>
          <div class="text">Realiza exames como cultura de urina,
          orofaringe e outras secreções.
          Esses exames balizam o diagnóstico de doenças infecciosas relacionadas,
          por exemplo, à atividade bacteriana nociva no organismo.</div>
          <!-- <div class="link"><a href="#" class="theme-btn-two">Read More</a></div> -->
        </div>
      </div>
    </div>
  </div>
</div>
