<div class="outer-box">
    <div class="row">
        <div class="title-column col-lg-6">
            <h2>Inscreva-se para receber notificações sobre novas consultas com especialistas</h2>
        </div>
        <div class="subscribe-form col-lg-6">
            <form method="post" action="contact.html">
                <div class="form-group">
                    <input type="email" name="email" value="" placeholder="Seu email..." required="">
                    <button type="submit" class="theme-btn btn-style-six" data-toggle="modal" data-target="#myModal">Inscrever</button>
                </div>
            </form>
        </div>
    </div>
</div>
