<div class="container">
  <div class="testimonial-carousel">
    <div class="testimonial-content">
      <div class="icon-box"><i class="flaticon-left-quote"></i></div>
      <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit eiusmod tempor incididunt ut labore dolore magna aliqua.enim ad minim veniam.quis nostrud exercitation ullamco laboris nis.</div>
      <div class="author">
        <figure class="author-thumb"><img src="images/resource/3.png" alt=""></figure>
        <div class="name">William Ayrton</div>
        <div class="title">Limo Advisor</div>
      </div>
    </div>
    <div class="testimonial-content">
      <div class="icon-box"><i class="flaticon-left-quote"></i></div>
      <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit eiusmod tempor incididunt ut labore dolore magna aliqua.enim ad minim veniam.quis nostrud exercitation ullamco laboris nis.</div>
      <div class="author">
        <figure class="author-thumb"><img src="images/resource/3.png" alt=""></figure>
        <div class="name">William Ayrton</div>
        <div class="title">Limo Advisor</div>
      </div>
    </div>
    <div class="testimonial-content">
      <div class="icon-box"><i class="flaticon-left-quote"></i></div>
      <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit eiusmod tempor incididunt ut labore dolore magna aliqua.enim ad minim veniam.quis nostrud exercitation ullamco laboris nis.</div>
      <div class="author">
        <figure class="author-thumb"><img src="images/resource/3.png" alt=""></figure>
        <div class="name">William Ayrton</div>
        <div class="title">Limo Advisor</div>
      </div>
    </div>
  </div>
</div>
