<div class="container">
<div class="testimonial-carousel">

<div class="testimonial-content">
    <div class="icon-box"><i class="flaticon-left-quote"></i></div>
    <div class="text">“Quero parabenizar a unidade BIOHEMATO pelo excelente atendimento desde a recepção até a coleta,
       excelentes profissionais com muita empatia, generosidade e humanidade. A estrutura física do local é aconchegante,
       super higiênica e muito bem equipada.” </div>
    <div class="author">
        <figure class="author-thumb"><img src="/images/resource/3.png" alt=""></figure>
        <div class="name">Eudes Carlos</div>
        <div class="title">Desenvolvedor de Sistemas</div>
    </div>
</div>
<div class="testimonial-content">
    <div class="icon-box"><i class="flaticon-left-quote"></i></div>
    <div class="text">“Fiquei muito feliz com o carinho e a atenção que as coletoras tiveram com os meus filhos
      principalmente pelo conforto de eu não precisar deslocar da minha residência pra pegar o resultado dos exames.” </div>
    <div class="author">
        <figure class="author-thumb"><img src="/images/resource/3.png" alt=""></figure>
        <div class="name">Alguem Fulano</div>
        <div class="title">O que ele ela faz</div>
    </div>
</div>
<div class="testimonial-content">
    <div class="icon-box"><i class="flaticon-left-quote"></i></div>
    <div class="text">“Excelente laboratório, rápido e preciso. Indico aos meus pacientes para fazer exames.” </div>
    <div class="author">
        <figure class="author-thumb"><img src="/images/resource/3.png" alt=""></figure>
        <div class="name">Algum Dr. </div>
        <div class="title">Doutror Esp. otorrinolaringologia</div>
    </div>
</div>

</div>
</div>
