<section class="main-slider slider-style-two slider-style-five">
  <%= render partial: "layouts/main_slider" %>
</section>

<section class="service-section style-two">
  <%= render partial: "inicio/service_section_st" %>
</section>

<section class="service-style-five gray-bg">
  <%= render partial: "inicio/service_section_gbg" %>
</section>

<section class="feature-section feature-style-three centred">
  <%= render partial: "inicio/feature_section" %>
</section>

<!-- <section class="cta-style-two" style="background-image: url(images/background/cta-bg2.jpg);"> -->
  <%#= render partial: "home/cta_style_two" %>
<!-- </section> -->

<section class="about-style-eight about-style-four">
    <div class="container">
      <%= render partial: "inicio/about_style_eight" %>
    </div>
</section>

<!-- <section class="testimonial-style-two" style="background-image: url(images/background/testimonial-bg2.jpg);"> -->
    <%#= render partial: "home/testimonial" %>
<!-- </section> -->

<!-- <section class="news-style-two"> -->
  <%#= render partial: "home/news" %>
<!-- </section> -->

<section class="subscribe-section">
    <div class="container">
        <%= render partial: "inicio/subscribe_section"  %>
    </div>
</section>
