<form id="contact-form" name="contact_form" class="default-form" action="inc/sendmail.php" method="post">
    <div class="form-group">
        <label>Seu Nome</label>
        <input type="text" name="form_name" required="">
    </div>
    <div class="form-group">
        <label>Seu Email</label>
        <input type="email" name="form_email" required="">
    </div>
    <div class="form-group">
        <label>Número Celular</label>
        <input type="text" name="form_subject" required="">
    </div>
    <div class="form-group">
        <label>Sua Mensagem</label>
        <textarea name="form_message" required=""></textarea>
    </div>
    <div class="contact-button">
        <button type="submit" class="theme-btn" data-loading-text="Please wait...">Enviar Mensagem</button>
    </div>
</form>
