<div class="single-item">
    <h4>Endereço</h4>
    <div class="text">Campinápolis-MT, Rua Alves Ferreira, nº ,Centro.</div>
</div>
<div class="single-item">
    <h4>Informação de Contato</h4>
    <div class="text">
        <p>Cel:  +55 (66) 981</p>
        <p>Email:  biohematocamp@gmail.com</p>
    </div>
</div>
<div class="link"><a href="#" class="theme-btn">Request for member</a></div>
