<div class="inner-title">Novas instalações</div>
<div class="text">
    <p>Agora com prédio próprio, instalações modernas e totalmente equipada com o que há de melhor no mercado laboratorial. Localizado ao lado do Hospital Municipal Dr. Régis.</p>
    <p>Equipe de profissionais qualificados e especializados. São pessoas altamente treinadas e preparadas para proporcionar um melhor atendimento aos clientes.</p>
</div>
