
    <!-- page-title -->
    <section class="page-title centred" style="background-image: url(/images/background/page-title.jpg);">
        <div class="container">
            <div class="content-box">
                <div class="title">Contato</div>
                <ul class="bread-crumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Nosso Contato</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- page-title end -->


    <!-- contact-section -->
    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 content-column">
                    <div class="inner-content">
                        <div class="content-style-one">
                            <%= render "contact/style-one"%>
                        </div>
                        <!-- <div class="content-style-two">
                            <div class="inner-title">PHD Opportunities</div>
                            <div class="text">
                                <p>Quasi architebeatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptassit. aspernatur aut odit fugit sed quia consequuntur magni dolores eos qui ratione voluptam sequi nescuntneque porro quisquam  dolorem ipsum quia dolor sit amet consectetur adipiscing velit sed quia numquam eius modi tempora incidunt ut labore et dolore consectetur adipisicing elit sed eiusmod tempor incididunt.ut labore et dolore magna aliqua enim ad minim veniam.</p>
                            </div>
                        </div>
                        <div class="content-style-three">
                            <div class="inner-title">Postdoctoral Fellow</div>
                            <div class="text">
                                <p>Quasi architebeatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptassit. aspernatur aut odit fugit sed quia consequuntur magni dolores eos qui ratione voluptam sequi nescuntneque porro quisquam  dolorem ipsum quia dolor sit amet consectetur adipiscing velit sed quia numquam eius modi tempora incidunt ut labore et dolore consectetur adipisicing elit sed eiusmod tempor incididunt.ut labore et dolore magna aliqua enim ad minim veniam.</p>
                            </div>
                        </div> -->
                        <div class="contact-form-area">
                            <%= render "contact/form-area"%>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 sidebar-column">
                    <div class="sidebar-content">
                        <%= render "contact/sidebar-content" %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact-section end -->
