<p id="notice"><%= notice %></p>

<h1>Admin Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_contacts.each do |admin_contact| %>
      <tr>
        <td><%= admin_contact.name %></td>
        <td><%= admin_contact.email %></td>
        <td><%= admin_contact.phone %></td>
        <td><%= admin_contact.message %></td>
        <td><%= link_to 'Show', admin_contact %></td>
        <td><%= link_to 'Edit', edit_admin_contact_path(admin_contact) %></td>
        <td><%= link_to 'Destroy', admin_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Contact', new_admin_contact_path %>
