<!-- book-section -->
<!-- <section class="book-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 offset-lg-3">
                <div class="book-inner">
                    <div class="year">
                        <div class="year-name">Em Desenvolvimento</div>
                        <div class="single-item">
                            <figure class="image-box"><a href="#"><img src="https://st2.depositphotos.com/5394392/9554/v/950/depositphotos_95549352-stock-illustration-baby-infant-icon-pediatrics-sign.jpg" alt=""></a></figure>
                            <h5><a href="#">Pediatra</a></h5>
                            <div class="text">---em breve---<br />-------------------</div>
                        </div>
                        <div class="single-item">
                            <figure class="image-box"><a href="#"><img src="https://www.planosaff.com.br/img/1/22/tratamentos/n/e6b234c3549bc4c1be45ae02b52b8a28.png" alt=""></a></figure>
                            <h5><a href="#">Cardiologista</a></h5>
                            <div class="text">---em breve---<br />-------------------</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- book-section end -->

<!-- our-event -->
<section class="our-event event-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 event-column">
                <div class="single-event-content">
                    <div class="date centred">Em<br /><span>Breve</span></div>
                    <h4><a href="event-details.html">Pediatra</a></h4>
                    <ul class="info-content">
                        <li><i class="fa fa-map-marker"></i>laboratorio biohemato, campinapolis-MT</li>
                        <li><i class="fa fa-clock-o"></i>??:?? - ??:??</li>
                    </ul>
                    <!-- <div class="link"><a href="event-details.html"><i class="flaticon-next"></i></a></div> -->
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 event-column">
                <div class="single-event-content">
                    <div class="date centred">Em<br /><span>Breve</span></div>
                    <h4><a href="event-details.html">Cardiologista</a></h4>
                    <ul class="info-content">
                        <li><i class="fa fa-map-marker"></i>laboratorio biohemato, campinapolis-MT</li>
                        <li><i class="fa fa-clock-o"></i>??:?? - ??:??</li>
                    </ul>
                    <!-- <div class="link"><a href="event-details.html"><i class="flaticon-next"></i></a></div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- our-event -->
