<div class="col-lg-8 col-md-12 col-sm-12 offset-lg-2 event-column">
    <div class="event-details-content">
        <div class="content-style-one">
            <figure class="image-box"><img src="/images/resource/event-4.jpg" alt=""></figure>
            <div class="event-title">16th Batch MSc Students Reunion</div>
            <ul class="info-content">
                <li><i class="fa fa-map-marker"></i>White Palace, Brookyn, NYC</li>
                <li><i class="fa fa-clock-o"></i>10:00AM - 11:00AM</li>
                <li><i class="fa fa-calendar"></i>Nov 02, 2018</li>
            </ul>
            <div class="top-text">Excepteur sint occaecat cupidatat non proident sunt culpa officia deserunt mollit anim id est laborum. sed  spiciatis unde omnis natus error Inventore.</div>
            <div class="text">
                <p>quasi architebeatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptassit. aspernatur aut odit fugit sed quia consequuntur magni dolores eos qui ratione voluptam sequi nescuntneque porro quisquam  dolorem ipsum quia dolor sit amet consectetur adipiscing velit sed quia numquam eius modi tempora incidunt ut labore et dolore consectetur adipisicing elit sed eiusmod tempor incididunt.ut labore et dolore magna aliqua enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>
        <div class="content-style-two">
            <div class="image-box">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <figure class="image"><img src="/images/resource/event-5.jpg" alt=""></figure>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <figure class="image"><img src="/images/resource/event-6.jpg" alt=""></figure>
                    </div>
                </div>
            </div>
            <div class="text">
                <p>Quasi architebeatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptassit. aspernatur aut odit fugit sed quia consequuntur magni dolores eos qui ratione voluptam sequi nescuntneque porro quisquam  dolorem ipsum quia dolor sit amet consectetur adipiscing velit sed quia numquam eius modi tempora incidunt ut labore et dolore consectetur adipisicing elit sed eiusmod tempor incididunt.ut labore et dolore magna aliqua enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>

                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam.</p>
            </div>
        </div>
    </div>
</div>
