    <!-- page-title -->
    <section class="page-title centred" style="background-image: url(/images/background/page-title.jpg);">
        <div class="container">
            <div class="content-box">
                <div class="title">Detalhes da Consulta</div>
                <ul class="bread-crumb">
                    <li><a href="index.html">Consulta</a></li>
                    <li>Detalhes</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- page-title end -->


    <!-- event-details -->
    <section class="event-details event-page">
        <div class="container">
            <div class="row">
                <%= render "service/event-page" %>
            </div>
        </div>
    </section>
    <!-- event-details end -->
