<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12 team-column">
    <div class="single-team-content inner-box">
      <figure class="image-box">
        <img src="/images/resource/team-1.jpg" alt="">
        <div class="overlay">
          <div class="wrapper">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </div>
        </div>
      </figure>
      <div class="lower-content">
        <h4><a href="team-details.html">Carmelita Izaura de Jesus</a></h4>
        <div class="text">Secretaria</div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 team-column">
    <div class="single-team-content inner-box">
      <figure class="image-box">
        <img src="/images/questions_doctor.jpg" alt="">
        <div class="overlay">
          <div class="wrapper">
            <a href="#"><i class="fa fa-facebook"></i></a>
          </div>
        </div>
      </figure>
      <div class="lower-content">
        <h4><a href="team-details.html">-- Em Breve --</a></h4>
        <div class="text">-- Em Breve --</div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 team-column">
    <div class="single-team-content inner-box">
      <figure class="image-box">
        <img src="/images/questions_doctor.jpg" alt="">
        <div class="overlay">
          <div class="wrapper">
            <a href="#"><i class="fa fa-facebook"></i></a>
          </div>
        </div>
      </figure>
      <div class="lower-content">
        <h4><a href="team-details.html">-- Em Breve --</a></h4>
        <div class="text">-- Em Breve --</div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 team-column">
    <div class="single-team-content inner-box">
      <figure class="image-box">
        <img src="/images/questions_doctor.jpg" alt="">
        <div class="overlay">
          <div class="wrapper">
            <a href="#"><i class="fa fa-facebook"></i></a>
          </div>
        </div>
      </figure>
      <div class="lower-content">
        <h4><a href="team-details.html">-- Em Breve --</a></h4>
        <div class="text">-- Em Breve --</div>
      </div>
    </div>
  </div>
</div>
