<!-- service-style-five -->
<section class="service-style-five gray-bg">
    <div class="container">
        <div class="title-box centred">
            <div class="sec-title">Resultados de Exame</div>
            <div class="top-text"> Online rápido </div>
        </div>
        <div class="products-discription">
            <div class="custom-tab-title centred">
                <ul class="tab-title clearfix">
                    <li data-tab-name="details" class="active">Clientes</li>
                    <li data-tab-name="review">Médicos</li>
                    <li data-tab-name="review-2">Laboratório</li>
                    <li data-tab-name="review-3">Clínica </li>
                </ul>
            </div>
            <div class="tab-details-content">
              <div class="tab-content" id="details">
                <div class="single-tab-content">
                  <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                      <div class="content-box">
                        <div class="title">Cliente</div>
                          <div class="text">
                            <form action="/action_page.php">
                              <div class="form-group">
                                <label for="email">Email address:</label>
                                <input type="email" class="form-control" id="email">
                              </div>
                              <div class="form-group">
                                <label for="pwd">Password:</label>
                                <input type="password" class="form-control" id="pwd">
                              </div>
                              <div class="checkbox">
                                <label><input type="checkbox"> Remember me</label>
                              </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <h1>imagem logo</h1>
                      </div>
                    </div>
                  </div>
              </div>

              <div class="tab-content" id="review">
                  <div class="single-tab-content">
                      <div class="row">
                        <div class="col-md-4 order-md-2 mb-4">
                        <h1>imagem logo</h1>
                        </div>
                        <div class="col-md-8 order-md-1">
                          <div class="content-box">
                            <div class="title">Médico</div>
                            <div class="text">
                              <form action="needs-validation" novalidate>
                                <div class="row">
                                  <div class="col-md-6 mb-3">
                                    <label for="SelectMonth">Selecione o Mês</label>
                                    <select class="custom-select d-block w-100" id="mes" required="">
                                      <option value="">Choose...</option>
                                      <option value="1">Janeiro</option>
                                      <option value="2">Fevereiro</option>
                                      <option value="3">Março</option>
                                      <option value="4" selected="">Abril</option>
                                      <option value="5">Maio</option>
                                      <option value="6">Junho</option>
                                      <option value="7">Julho</option>
                                      <option value="8">Agosto</option>
                                      <option value="9">Setembro</option>
                                      <option value="10">Outubro</option>
                                      <option value="11">Novembro</option>
                                      <option value="12">Dezembro</option>
                                    </select>
                                    </div>
                                  <div class="col-md-6 mb-3">
                                  <label for="SelectMonth">Selecione o Ano</label>
                                    <select class="custom-select d-block w-100" id="ano" required="">
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019" selected="">2019</option>
                                  </select>
                                  </div>
                                </div>
                                <div class="mb-3">
                                  <label for="email">Email address:</label>
                                  <input type="email" class="form-control" id="email">
                                </div>
                                <div class="mb-3">
                                  <label for="pwd">Password:</label>
                                  <input type="password" class="form-control" id="pwd">
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Remember me</label>
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                                </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="tab-content" id="review-2">
                    <div class="single-tab-content">
                        <div class="row">
                          <div class="col-md-4 order-md-2 mb-4">
                          <h1>imagem logo</h1>
                          </div>
                          <div class="col-md-8 order-md-1">
                            <div class="content-box">
                              <div class="title">Laboratório</div>
                              <div class="text">
                                <form action="needs-validation" novalidate>
                                  <div class="row">
                                    <div class="col-md-3 mb-3">
                                      <label for="SelectMonth">Data Inicial</label>
                                      <select class="custom-select d-block w-100" id="dia" required="">
                                        <option value="">Choose...</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4" selected="">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                      </select>
                                    </div>
                                    <div class="col-md-5 mb-3">
                                    <label for="SelectMonth">Selecione o Mês</label>
                                      <select class="custom-select d-block w-100" id="mes" required="">
                                        <option value="">Choose...</option>
                                        <option value="1">Janeiro</option>
                                        <option value="2">Fevereiro</option>
                                        <option value="3">Março</option>
                                        <option value="4" selected="">Abril</option>
                                        <option value="5">Maio</option>
                                        <option value="6">Junho</option>
                                        <option value="7">Julho</option>
                                        <option value="8">Agosto</option>
                                        <option value="9">Setembro</option>
                                        <option value="10">Outubro</option>
                                        <option value="11">Novembro</option>
                                        <option value="12">Dezembro</option>
                                    </select>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                    <label for="SelectMonth">Selecione o Ano</label>
                                      <select class="custom-select d-block w-100" id="ano" required="">
                                      <option value="2016">2016</option>
                                      <option value="2017">2017</option>
                                      <option value="2018">2018</option>
                                      <option value="2019" selected="">2019</option>
                                    </select>
                                    </div>

                                    <div class="col-md-3 mb-3">
                                      <label for="SelectMonth">Data Final</label>
                                      <select class="custom-select d-block w-100" id="dia" required="">
                                        <option value="">Selec Dia.</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4" selected="">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                      </select>
                                    </div>
                                    <div class="col-md-5 mb-3">
                                    <label for="SelectMonth">Selecione o Mês</label>
                                      <select class="custom-select d-block w-100" id="mes" required="">
                                        <option value="">Choose...</option>
                                        <option value="1">Janeiro</option>
                                        <option value="2">Fevereiro</option>
                                        <option value="3">Março</option>
                                        <option value="4" selected="">Abril</option>
                                        <option value="5">Maio</option>
                                        <option value="6">Junho</option>
                                        <option value="7">Julho</option>
                                        <option value="8">Agosto</option>
                                        <option value="9">Setembro</option>
                                        <option value="10">Outubro</option>
                                        <option value="11">Novembro</option>
                                        <option value="12">Dezembro</option>
                                    </select>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                    <label for="SelectMonth">Selecione o Ano</label>
                                      <select class="custom-select d-block w-100" id="ano" required="">
                                      <option value="2016">2016</option>
                                      <option value="2017">2017</option>
                                      <option value="2018">2018</option>
                                      <option value="2019" selected="">2019</option>
                                    </select>
                                    </div>

                                  </div>
                                  <div class="mb-3">
                                    <label for="name">Nome</label>
                                    <input type="name" class="form-control" id="name">
                                  </div>
                                  <div class="row">
                                    <div class="col-md-6 mb-3">
                                      <label for="email">Email address:</label>
                                      <input type="email" class="form-control" id="email">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                      <label for="pwd">Password:</label>
                                      <input type="password" class="form-control" id="pwd">
                                    </div>
                                  </div>

                                  <div class="checkbox">
                                    <label><input type="checkbox"> Remember me</label>
                                  </div>
                                  <button type="submit" class="btn btn-default">Submit</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>




                <div class="tab-content" id="review-3">
                    <div class="single-tab-content">
                        <div class="row">
                          <div class="col-md-4 order-md-2 mb-4">
                          <h1>imagem logo</h1>
                          </div>
                          <div class="col-md-8 order-md-1">
                            <div class="content-box">
                              <div class="title">Clínica</div>
                              <div class="text">
                                <form action="needs-validation" novalidate>
                                  <div class="row">
                                    <div class="col-md-3 mb-3">
                                      <label for="SelectMonth">Data Inicial</label>
                                      <select class="custom-select d-block w-100" id="dia" required="">
                                        <option value="">Choose...</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4" selected="">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                      </select>
                                    </div>
                                    <div class="col-md-5 mb-3">
                                    <label for="SelectMonth">Selecione o Mês</label>
                                      <select class="custom-select d-block w-100" id="mes" required="">
                                        <option value="">Choose...</option>
                                        <option value="1">Janeiro</option>
                                        <option value="2">Fevereiro</option>
                                        <option value="3">Março</option>
                                        <option value="4" selected="">Abril</option>
                                        <option value="5">Maio</option>
                                        <option value="6">Junho</option>
                                        <option value="7">Julho</option>
                                        <option value="8">Agosto</option>
                                        <option value="9">Setembro</option>
                                        <option value="10">Outubro</option>
                                        <option value="11">Novembro</option>
                                        <option value="12">Dezembro</option>
                                    </select>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                    <label for="SelectMonth">Selecione o Ano</label>
                                      <select class="custom-select d-block w-100" id="ano" required="">
                                      <option value="2016">2016</option>
                                      <option value="2017">2017</option>
                                      <option value="2018">2018</option>
                                      <option value="2019" selected="">2019</option>
                                    </select>
                                    </div>

                                    <div class="col-md-3 mb-3">
                                      <label for="SelectMonth">Data Final</label>
                                      <select class="custom-select d-block w-100" id="dia" required="">
                                        <option value="">Selec Dia.</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4" selected="">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                      </select>
                                    </div>
                                    <div class="col-md-5 mb-3">
                                    <label for="SelectMonth">Selecione o Mês</label>
                                      <select class="custom-select d-block w-100" id="mes" required="">
                                        <option value="">Choose...</option>
                                        <option value="1">Janeiro</option>
                                        <option value="2">Fevereiro</option>
                                        <option value="3">Março</option>
                                        <option value="4" selected="">Abril</option>
                                        <option value="5">Maio</option>
                                        <option value="6">Junho</option>
                                        <option value="7">Julho</option>
                                        <option value="8">Agosto</option>
                                        <option value="9">Setembro</option>
                                        <option value="10">Outubro</option>
                                        <option value="11">Novembro</option>
                                        <option value="12">Dezembro</option>
                                    </select>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                    <label for="SelectMonth">Selecione o Ano</label>
                                      <select class="custom-select d-block w-100" id="ano" required="">
                                      <option value="2016">2016</option>
                                      <option value="2017">2017</option>
                                      <option value="2018">2018</option>
                                      <option value="2019" selected="">2019</option>
                                    </select>
                                    </div>

                                  </div>
                                  <div class="mb-3">
                                    <label for="name">Nome</label>
                                    <input type="name" class="form-control" id="name">
                                  </div>
                                  <div class="row">
                                    <div class="col-md-6 mb-3">
                                      <label for="email">Email address:</label>
                                      <input type="email" class="form-control" id="email">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                      <label for="pwd">Password:</label>
                                      <input type="password" class="form-control" id="pwd">
                                    </div>
                                  </div>

                                  <div class="checkbox">
                                    <label><input type="checkbox"> Remember me</label>
                                  </div>
                                  <button type="submit" class="btn btn-default">Submit</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
  </section>
