<div class="col-lg-4 col-md-12 col-sm-12 image-column">
    <figure class="image-box"><img src="/images/resource/team-details.jpg" alt=""></figure>
</div>
<div class="col-lg-8 col-md-12 col-sm-12 content-column">
    <div class="team-details-content">
        <div class="top-content">
            <div class="title">Dr. Itamar Lino</div>
            <span>Bioquímico</span>
            <div class="text">Stanford University Graduate<br />School of Business</div>
        </div>
        <div class="lower-content">
            <h3 class="title">Biography</h3>
            <div class="text">
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. sed per spiciatis unde omnis natus error. consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore dolore magna aliqua enim ad minim veniam.quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
            </div>
        </div>
    </div>
</div>
