<div class="col-lg-3 col-md-6 col-sm-12 team-column">
    <div class="single-team-content inner-box">
        <figure class="image-box">
            <img src="/images/resource/team-1.jpg" alt="">
            <div class="overlay">
                <div class="wrapper">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </figure>
        <div class="lower-content">
            <h4><a href="team-details.html">Carmelita</a></h4>
            <div class="text">Secretária</div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-6 col-sm-12 team-column">
    <div class="single-team-content inner-box">
        <figure class="image-box">
            <img src="/images/resource/team-2.jpg" alt="">
            <div class="overlay">
                <div class="wrapper">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </figure>
        <div class="lower-content">
            <h4><a href="team-details.html">Dr. Milford Runolf</a></h4>
            <div class="text">PHD Student</div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-6 col-sm-12 team-column">
    <div class="single-team-content inner-box">
        <figure class="image-box">
            <img src="/images/resource/team-3.jpg" alt="">
            <div class="overlay">
                <div class="wrapper">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </figure>
        <div class="lower-content">
            <h4><a href="team-details.html">Dr. Clarabelle Samber</a></h4>
            <div class="text">PHD Student</div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-6 col-sm-12 team-column">
    <div class="single-team-content inner-box">
        <figure class="image-box">
            <img src="/images/resource/team-4.jpg" alt="">
            <div class="overlay">
                <div class="wrapper">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </figure>
        <div class="lower-content">
            <h4><a href="team-details.html">Dr. Henriette Saterfield</a></h4>
            <div class="text">PHD Student</div>
        </div>
    </div>
</div>
