    <!-- main-slider -->
    <section class="main-slider slider-style-two slider-style-three">
        <div class="main-slider-carousel owl-carousel owl-theme">
            <div class="slide" style="background-image:url(/images/main-slider/6.jpg)">
                <div class="container">
                    <div class="content-box">
                        <h1>Reliable & High Quality<br />Laboratory</h1>
                        <div class="slider-btn">
                            <a href="#" class="theme-btn slide-btn-one">Our Services</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide" style="background-image:url(/images/main-slider/7.jpg)">
                <div class="container">
                    <div class="content-box">
                        <h1>Reliable & High Quality<br />Laboratory</h1>
                        <div class="slider-btn">
                            <a href="#" class="theme-btn slide-btn-one">Our Services</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide" style="background-image:url(/images/main-slider/2.jpg)">
                <div class="container">
                    <div class="content-box">
                        <h1>Reliable & High Quality<br />Laboratory</h1>
                        <div class="slider-btn">
                            <a href="#" class="theme-btn slide-btn-one">Our Services</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- main-slider end -->


    <!-- about-section -->
    <section class="about-section about-style-four">
        <div class="container">
              <%#= render "home/about-style" %>
        </div>
    </section>
    <!-- about-section -->


    <!-- service-style-two -->
    <section class="service-style-three">
        <div class="container">
            <div class="row">
                <%#= render partial: "home/service-section" %>
            </div>
        </div>
    </section>
    <!-- service-style-two end -->


    <!-- event-section -->
    <section class="event-section event-style-two event-style-three">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 column">
                    <div class="event-content">
                        <div class="row">
                            <div class="col-lg-7 col-md-6 col-sm-12">
                                <div class="content-box">
                                    <div class="event-title">Detalhes da Consulta</div>
                                    <%= render "doctor/content-box" %>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6 col-sm-12">
                                  <%= render "doctor/event-image"%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 column">
                    <div class="latest-event">
                        <div class="event-title">Data de Consulta</div>
                        <%= render "doctor/latest-event"%>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- event-section -->


    <!-- single-team -->
    <section class="single-team single-team-two">
        <div class="container">
          <div class="row">
              <%= render "about/single-team"%>
          </div>
        </div>
    </section>
    <!-- single-team end -->


    <!-- team-section -->
    <section class="team-section gray-bg">
        <div class="container">
            <div class="title-box">
                <div class="sec-title">Nossa Equipe</div>
                <div class="title-text">Família BIOHEMATO</div>
            </div>
            <div class="row">
                <%= render "about/team-section" %>
            </div>
        </div>
    </section>
    <!-- team-section end -->
