<div class="container">
<div class="row">


<div class="col-lg-6 col-md-12 col-sm-12 content-column">
    <div class="about-content">
        <div class="title-box">
            <div class="sec-title">Research Group</div>
            <div class="title-text">About Research</div>
        </div>
        <div class="text">
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. sed ut per spiciatis unde omnis nats error Inventore veritatis et quasi architebeatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptassit.aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt neque porro quisquam est qui dolorem ipsum quia dolor sit amet consecteturadipisci velit sed quia non numquam eius modi tempora incidunt ut labore dolore.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit seddo eiusmod tempor incididunt labore et dolore magna aliqua.enim ad minim veniam quis nostrud exercitation ullamco laboris.</p>
        </div>
        <div class="link"><a href="#" class="theme-btn">Read More</a></div>
    </div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 video-column">
    <div class="video-content">
        <div class="video-gallery">
            <img src="/images/resource/video-image-3.jpg" alt="Awesome Video Gallery">
            <div class="overlay-gallery">
                <div class="icon-holder">
                    <div class="icon wow zoomIn" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <a class="html5lightbox" title="Video" href="https://youtu.be/yVb0mfmMV9w"><i class="flaticon-play-button"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
