<div class="appointment-content">
    <div class="appointment-title">Marcar <span>Consulta</span></div>
    <div class="form-area">
        <form action="#" method="post" class="appointment-form">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                    <label>Nome</label>
                    <input type="text" name="name" required="">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                    <label>Email</label>
                    <input type="email" name="email" required="">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                    <label>Departamento</label>
                    <select>
                        <option>Clínica</option>
                        <option>Laboratório</option>
                      </select>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                    <label>N. Celular</label>
                    <input type="text" name="phone" required="">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                    <label>Informação Adicional</label>
                    <textarea name="message" required=""></textarea>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                    <button class="theme-btn" type="submit">Marcar</button>
                </div>
            </div>
        </form>
    </div>
</div>
