<div class="col-lg-4 col-md-6 col-sm-12 feature-column">
    <div class="single-item">
        <div class="icon-box"><i class="flaticon-paper"></i></div>
        <h4><a href="#">Immunology</a></h4>
        <div class="text">Excepteur sint ocecat cupidatatnon proi dent sunt in culpa quiofficia deserunt mollit anim est.</div>
    </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-12 feature-column">
    <div class="single-item">
        <div class="icon-box"><i class="flaticon-pc"></i></div>
        <h4><a href="#">Molecular biology</a></h4>
        <div class="text">Excepteur sint ocecat cupidatatnon proi dent sunt in culpa quiofficia deserunt mollit anim est.</div>
    </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-12 feature-column">
    <div class="single-item">
        <div class="icon-box"><i class="flaticon-atom"></i></div>
        <h4><a href="#">Cardiovascular disease</a></h4>
        <div class="text">Excepteur sint ocecat cupidatatnon proi dent sunt in culpa quiofficia deserunt mollit anim est.</div>
    </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-12 feature-column">
    <div class="single-item">
        <div class="icon-box"><i class="flaticon-cardiogram"></i></div>
        <h4><a href="#">Heart disease</a></h4>
        <div class="text">Excepteur sint ocecat cupidatatnon proi dent sunt in culpa quiofficia deserunt mollit anim est.</div>
    </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-12 feature-column">
    <div class="single-item">
        <div class="icon-box"><i class="flaticon-drugs"></i></div>
        <h4><a href="#">Alternative medicine</a></h4>
        <div class="text">Excepteur sint ocecat cupidatatnon proi dent sunt in culpa quiofficia deserunt mollit anim est.</div>
    </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-12 feature-column">
    <div class="single-item">
        <div class="icon-box"><i class="flaticon-cancer"></i></div>
        <h4><a href="#">Cancer disease</a></h4>
        <div class="text">Excepteur sint ocecat cupidatatnon proi dent sunt in culpa quiofficia deserunt mollit anim est.</div>
    </div>
</div>
