<div class="about-content">
    <div class="title-box">
        <div class="sec-title">Laboratório e Clínica</div>
        <div class="title-text">BIOHEMATO</div>
    </div>
    <div class="top-text">Sobre nós</div>
    <div class="text">Laboratório e Clínica BIOHEMATO tem orgulho de ser reconhecido
       por seu atendimento e a relação que nossos colaboradores formam com
       nossos pacientes. É importante para o laboratório que o paciente se
       sinta cuidado, a simpatia, a alegria e solidariedade.</div>
</div>
