<div class="col-lg-3 col-md-6 col-sm-12 counter-column">
    <div class="single-counter-content">
        <div class="icon-box"><i class="flaticon-monitor"></i></div>
        <article class="column wow fadeIn" data-wow-duration="0ms">
            <div class="count-outer"><span class="count-text" data-speed="1500" data-stop="72">0</span></div>
        </article>
        <div class="text">Tipos de exames</div>
    </div>
</div>
<div class="col-lg-3 col-md-6 col-sm-12 counter-column">
    <div class="single-counter-content">
        <div class="icon-box"><i class="flaticon-document"></i></div>
        <article class="column wow fadeIn" data-wow-duration="0ms">
            <div class="count-outer"><span class="count-text" data-speed="1500" data-stop="50">0</span></div>
        </article>
        <div class="text">Exames realizadas</div>
    </div>
</div>
<div class="col-lg-3 col-md-6 col-sm-12 counter-column">
    <div class="single-counter-content">
        <div class="icon-box"><i class="flaticon-user"></i></div>
        <article class="column wow fadeIn" data-wow-duration="0ms">
            <div class="count-outer"><span class="count-text" data-speed="1500" data-stop="35">0</span></div>
        </article>
        <div class="text">Total de atendimento</div>
    </div>
</div>
<div class="col-lg-3 col-md-6 col-sm-12 counter-column">
    <div class="single-counter-content">
        <div class="icon-box"><i class="flaticon-trophy"></i></div>
        <article class="column wow fadeIn" data-wow-duration="0ms">
            <div class="count-outer"><span class="count-text" data-speed="1500" data-stop="84">0</span></div>
        </article>
        <div class="text">Profissionais e parceiros</div>
    </div>
</div>
