<div class="container">
<div class="feature-content">
<div class="row">


<div class="col-lg-4 col-md-6 col-sm-12 feature-column">
    <div class="single-item">
        <div class="icon-box"><i class="flaticon-paper"></i></div>
        <h4><a href="#">Agendamento</a></h4>
        <div class="text">Agendamento rápido e descomplicado.</div>
    </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-12 feature-column">
    <div class="single-item">
        <div class="icon-box"><i class="flaticon-cardiogram"></i></div>
        <h4><a href="#">Médicos Especialistas</a></h4>
        <div class="text">Qualidade no atendimento.</div>
    </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-12 feature-column">
    <div class="single-item">
        <div class="icon-box"><i class="flaticon-atom"></i></div>
        <h4><a href="#">Perto de você</a></h4>
        <div class="text">Saúde de qualidade ao alcance de todos!</div>
    </div>
</div>

</div>
</div>
</div>
