<!-- main-slider -->

<section class="main-slider slider-style-two slider-style-three slider-style-four">
    <div class="main-slider-carousel owl-carousel owl-theme">
      <div class="slide" style="background-image:url(/images/main-slider/8.jpg)">
          <div class="container">
              <div class="content-box">
                  <h1>Diversas <span>Especialidades</span><br />Médicas</h1>
                  <div class="text">Entre em contato.<br />Veja o dia consulta.<br /></div>
                  <div class="slider-btn">
                      <a href="#" class="theme-btn slide-btn-one">Marcar consulta</a>
                  </div>
              </div>
          </div>
      </div>

      <div class="slide" style="background-image:url(/images/main-slider/9.jpg)">
          <div class="container">
              <div class="content-box">
                  <h1>Médicos <span>Especialistas</span><br />ao alcance de todos </h1>
                  <div class="text">Preços acessíveis e sem burocracia.<br />Agende sua consulta.</div>
                  <div class="slider-btn">
                      <a href="#" class="theme-btn slide-btn-one">Marcar consulta</a>
                  </div>
              </div>
          </div>
      </div>

      <div class="slide" style="background-image:url(/images/main-slider/10.jpg)">
          <div class="container">
              <div class="content-box">
                  <h1>Cuidados com a <span>Vida</span><br />Para você viver melhor. </h1>
                  <div class="text">Atendimento Diferenciado.<br />Consulta facilitada.</div>
                  <div class="slider-btn">
                      <a href="#" class="theme-btn slide-btn-one">Marcar consulta</a>
                  </div>
              </div>
          </div>
      </div>

    </div>
</section>
<!-- main-slider end -->


<!-- feature-section -->
<section class="feature-section centred">
                <%= render "clinic/feature-section" %>
</section>
<!-- feature-section end -->


<!-- about-section -->
<section class="about-style-six">
                <%= render "clinic/about-section" %>
</section>
<!-- about-section -->

<!-- about-style-seven -->
<section class="about-style-four about-style-seven gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <%= render "clinic/content-column"%>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 offset-lg-1 appointment-column">
                <%= render "clinic/appointment-column" %>
            </div>
        </div>
    </div>
</section>
<!-- about-style-seven -->


<!-- feature-section -->
<section class="feature-section feature-style-two centred">
    <div class="shape-1 wow zoomIn animated"></div>
    <div class="shape-2 wow zoomIn animated"></div>
    <div class="container">
        <div class="feature-content">
            <div class="row">
                <%= render "clinic/centred"%>
            </div>
        </div>
    </div>
</section>
<!-- feature-section end -->


<!-- fact-counter -->
<section class="fact-counter counter-style-two" style="background-image: url(/images/background/fact-counter.jpg);">
    <div class="container">
        <div class="row">
            <%= render "clinic/fact-counter" %>
        </div>
    </div>
</section>
<!-- fact-counter end -->


<!-- gallery-section -->
<section class="gallery-section">
    <div class="container">
        <div class="title-box">
            <div class="sec-title">Galeria</div>
            <div class="title-text">Últimos eventos</div>
        </div>
        <div class="sortable-masonry">
            <!--Filter-->
            <div class="filters clearfix">
                <ul class="filter-tabs filter-btns centred clearfix">
                    <li class="active filter" data-role="button" data-filter=".all">Todos</li>
                    <li class="filter" data-role="button" data-filter=".design">Ambiente</li>
                    <li class="filter" data-role="button" data-filter=".graphic">Profissionais</li>
                    <li class="filter" data-role="button" data-filter=".photography">Pacientes</li>
                </ul>
            </div>
            <div class="items-container row clearfix">

                <!--Default Portfolio Item-->
                <div class="col-lg-4 col-md-6 col-sm-12 gallery-item masonry-item all graphic design">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="/images/gallery/gallery-1.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <div class="text">Corporate</div>
                                    <h4 class="title"><a href="#">Research Group</a></h4>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>

                <!--Default Portfolio Item-->
                <div class="col-lg-4 col-md-6 col-sm-12 gallery-item masonry-item all design photography">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="/images/gallery/gallery-2.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <div class="text">Corporate</div>
                                    <h4 class="title"><a href="#">Research Group</a></h4>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>

                <!--Default Portfolio Item-->
                <div class="col-lg-4 col-md-6 col-sm-12 gallery-item masonry-item all photography graphic">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="/images/gallery/gallery-3.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <div class="text">Corporate</div>
                                    <h4 class="title"><a href="#">Research Group</a></h4>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>

                <!--Default Portfolio Item-->
                <div class="col-lg-4 col-md-6 col-sm-12 gallery-item masonry-item all photography design">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="/images/gallery/gallery-4.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <div class="text">Corporate</div>
                                    <h4 class="title"><a href="#">Research Group</a></h4>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>

                <!--Default Portfolio Item-->
                <div class="col-lg-4 col-md-6 col-sm-12 gallery-item masonry-item all graphic design">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="/images/gallery/gallery-5.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <div class="text">Corporate</div>
                                    <h4 class="title"><a href="#">Research Group</a></h4>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>

                <!--Default Portfolio Item-->
                <div class="col-lg-4 col-md-6 col-sm-12 gallery-item masonry-item all design photography graphic">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="/images/gallery/gallery-6.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <div class="text">Corporate</div>
                                    <h4 class="title"><a href="#">Research Group</a></h4>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- gallery-section end -->
