<div class="container-fluid">
  <div class="nav-outer">
    <div class="logo-box">
      <% if controller_name == "inicio" %>
        <figure class="logo-outer"><a href="/"><img src="/images/logo-3.png" alt=""></a></figure>
      <% end %>
    </div>
    <div class="menu-area">
      <nav class="main-menu navbar-expand-lg">
        <div class="navbar-header">
          <!-- Toggle Button -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse clearfix">
          <ul class="navigation clearfix">
            <li><a href="/">Inicio</a></li>
            <li><a href="/exames/index">Exames</a></li>
            <li><a href="/consultas/index">Consultas</a></li>
            <li class="current dropdown"><a href="/agenda/index">Agenda</a>
              <ul>
                <li><a href="/agenda/pediatra">Pediatra</a></li>
                <li><a href="/agenda/cardiologista">Cardiologista</a></li>
              </ul>
            </li>
            <li><a href="/equipe/index">Equipe</a>
              <!-- <ul>
                <li><a href="event.html">Laboratorios</a></li>
                <li><a href="event-details.html">Médicos</a></li>
                <li><a href="event.html">Equipe Biohemato</a></li>
              </ul> -->
            </li>
            <!-- <li class="dropdown"><a href="#">Blog</a>
              <ul>
                <li><a href="">Our Blog</a></li>
              </ul>
            </li> -->
            <li><a href="/contato/index">Contato</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="nav-link"><a href="#" class="theme-btn-three" data-toggle="modal" data-target="#myModal">Resultado de Exames</a></div>
  </div>
</div>
