<div class="clearfix">
    <div class="logo-box top-left">
        <figure class="logo-outer"><a href="/"><img src="/images/logo.png" alt=""></a></figure>
    </div>
    <div class="top-right">
        <ul class="header-info clearfix">
            <li><i class="flaticon-contact"></i>biohemato@campinapolis.com</li>
            <li><i class="flaticon-marker"></i>Alves Ferreira, Campinápolis-MT</li>
            <li><a href="#" class="theme-btn" data-toggle="modal" data-target="#myModal">Marcar Consulta</a></li>
        </ul>
    </div>
</div>
