<div class="container">
    <div class="widgets-section">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                <div class="logo-widget footer-widget">
                    <figure class="footer-logo"><a href="index.html"><img src="/images/footer-logo.png" alt=""></a></figure>
                    <div class="text">Laboratório de Exames e Clínica Médica.</div>
                    <ul class="footer-social clearfix">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
                        <!-- <li><a href="#"><i class="fa fa-vimeo"></i></a></li> -->
                        <!-- <li><a href="#"><i class="fa fa-linkedin"></i></a></li> -->
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                <div class="link-widget footer-widget">
                    <div class="footer-title">Atalho</div>
                    <ul class="link-list">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/exames/index">Exames</a></li>
                        <li><a href="/consultas/index">Consultas</a></li>
                        <li><a href="#">Agenda</a></li>
                        <li><a href="#">Contato</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                <div class="event-widget footer-widget">
                    <div class="footer-title">Útimos Eventos</div>
                    <div class="single-event">
                        <div class="link"><a href="event-details.html">Pediatra</a></div>
                        <div class="text"><i class="flaticon-small-calendar"></i>--não disponivel--</div>
                    </div>
                    <div class="single-event">
                        <div class="link"><a href="event-details.html">Ginecologista</a></div>
                        <div class="text"><i class="flaticon-small-calendar"></i>--não disponivel--</div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                <div class="newsletter-widget footer-widget">
                    <div class="footer-title">Notícias</div>
                    <div class="text">Se quiser acompanhar nossas eventos.</div>
                    <form action="#" method="post" class="newsletter-form">
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Entre com seu email" required="">
                        </div>
                        <div class="form-group">
                            <button class="theme-btn" type="submit">Inscrever-se<i class="flaticon-next"></i></button>
                        </div>
                    </form>
                </div>
            </div> -->
            <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                <div class="event-widget footer-widget">
                    <!-- <div class="footer-title">Útimos Eventos</div> -->
                    <div class="single-event">
                        <div class="link"><a href="event-details.html">Hematologista</a></div>
                        <div class="text"><i class="flaticon-small-calendar"></i>--não disponivel--</div>
                    </div>
                    <div class="single-event">
                        <div class="link"><a href="event-details.html">Dermatologista</a></div>
                        <div class="text"><i class="flaticon-small-calendar"></i>--não disponivel--</div>
                    </div>
                    <div class="single-event">
                        <div class="link"><a href="event-details.html">Cardiologista</a></div>
                        <div class="text"><i class="flaticon-small-calendar"></i>--não disponivel--</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
