<div class="main-slider-carousel owl-carousel owl-theme">
    <div class="slide" style="background-image:url(images/main-slider/11.jpg)">
        <div class="bg-column"></div>
        <div class="container">
            <div class="content-box">
              <h1>Facilidade<br/>Resultados online</h1>
              <div class="text">Resultado de exame via internet: rápido, seguro e ágil.</div>
              <div class="slider-btn">
                  <a href="#" class="theme-btn theme-btn-three" data-toggle="modal" data-target="#myModal">Resultados de Exames</a>
              </div>
            </div>
        </div>
    </div>

    <div class="slide" style="background-image:url(images/main-slider/12.jpg)">
        <div class="bg-column"></div>
        <div class="container">
            <div class="content-box">
              <h1><br/>Saúde Preventiva</h1>
              <div class="text">Tenha mais tranquilidade.<br />Agende sua consulta pelo site <br />Consulte a agenda e garanta sua vaga.</div>
              <div class="slider-btn">
                  <a href="#" class="theme-btn theme-btn-three" data-toggle="modal" data-target="#myModal">Marcar Consulta</a>
              </div>
            </div>
        </div>
    </div>

</div>
