<!-- jequery plugins -->
<script src="/js/jquery.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/validation.js"></script>
<script src="/js/isotope.js"></script>
<script src="/js/html5lightbox/html5lightbox.js"></script>
<script type="text/javascript" src="/js/SmoothScroll.js"></script>
<!-- map script -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBevTAR-V2fDy9gQsQn1xNHBPH2D36kck0"></script>
<script src="/js/gmaps.js"></script>
<script src="/js/map-helper.js"></script>
<!-- main-js -->
<script src="/js/script.js"></script>
