<div class="row">
<div class="col-lg-4 col-md-12 col-sm-12 column">
  <figure class="logo-box"><a href="index.html"><img src="/images/small-logo.png" alt=""></a></figure>
</div>
<div class="col-lg-8 col-md-12 col-sm-12 menu-column">
  <div class="menu-area">
    <nav class="main-menu navbar-expand-lg">
      <div class="navbar-header">
        <!-- Toggle Button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse clearfix">
        <ul class="navigation clearfix">
          <li ><a href="/">Inicio</a></li>
          <li class="dropdown"><a href="#">Serviços</a>
            <ul>
              <li><a href="#" data-toggle="modal" data-target="#myModal">Agendar Consulta</a></li>
              <li><a href="#" data-toggle="modal" data-target="#myModal">Resultado de Exames</a></li>
            </ul>
          </li>
          <li><a href="/">Quem Somos Nós</a></li>
          <li><a href="/contato/index">Contato</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
</div>
