<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: "layouts/head"  %>
</head>
<body class="boxed_wrapper">
    <div class="preloader"></div>
    <header class="main-header">
        <div class="header-top">
          <div class="container">
              <%= render partial: "layouts/header_top" %>
          </div>
        </div>

        <!-- header-bottom -->
        <div class="header-bottom">
            <div class="container">
                  <%= render partial: "layouts/header_bottom" %>
            </div>
        </div>

        <!--Sticky Header-->
        <div class="sticky-header">
            <div class="container">
                <%= render partial: "layouts/sticky_header" %>
            </div>
        </div>
    </header>

    <!-- page-title -->
    <section class="page-title centred" style="background-image: url(/images/background/page-title.jpg);">
        <div class="container">
            <%= render partial: "exames/page_title" %>
        </div>
    </section>
    <!-- page-title end -->

    <%= yield %>

    <!-- main-footer -->
    <footer class="main-footer">
        <div class="container">
            <%= render partial: "layouts/main_footer" %>
        </div>
    </footer>
    <!-- main-footer end -->

    <!-- footer-bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="copyright"><a href="#">Campinapolis.com</a> &copy; 2019</div>
        </div>
    </div>
    <!-- footer-bottom end -->

    <!--Scroll to top-->
    <button class="scroll-top scroll-to-target" data-target="html">
      <span class="fa fa-angle-up"></span>
    </button>
    <%= render partial: "layouts/modal" %>
    <%= render partial: "layouts/scripts" %>

</body>
</html>
