<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: "layouts/head" %>
</head>
<body class="boxed_wrapper">
  <div class="preloader"></div>
  <header class="main-header header-style-three">
    <div class="header-bottom">
      <%= render partial: "layouts/header_bottom" %>
    </div>
    <div class="sticky-header">
      <div class="container">
        <%= render partial: "layouts/sticky_header" %>
      </div>
    </div>
  </header>
  <%= yield %>
  <footer class="main-footer">
    <%= render partial: "layouts/main_footer" %>
  </footer>
  <div class="footer-bottom">
    <div class="container">
      <div class="copyright"><a href="https://campinapolis.com">Campinapolis.com</a> &copy; 2019</div>
    </div>
  </div>
  <button class="scroll-top scroll-to-target" data-target="html">
    <span class="fa fa-angle-up"></span>
  </button>
  <%= render partial: "layouts/modal" %>
  <%= render partial: "layouts/scripts" %>
</body>
</html>
