<!DOCTYPE html>
<html lang="en">
<head>
<%= render partial: "layouts/head" %>
<%= render partial: "layouts/scripts" %>
</head>

<!-- page wrapper -->
<body class="boxed_wrapper">
  <div class="preloader"></div>
  <header class="main-header">
    <div class="header-top">
      <div class="container">
        <%= render partial: "layouts/header_top" %>
      </div>
    </div>

    <!-- header-bottom -->
    <div class="header-bottom">
      <div class="container">
        <%= render partial: "layouts/header_bottom" %>
      </div>
    </div>

    <!--Sticky Header-->
    <div class="sticky-header">
      <div class="container">
        <%= render partial: "layouts/sticky_header" %>
      </div>
    </div>
  </header>
  <!-- End Main Header -->

  <!-- page-title -->
  <section class="page-title centred" style="background-image: url(/images/background/page-title.jpg);">
    <div class="container">
      <div class="content-box">
        <div class="title">Contato</div>
        <ul class="bread-crumb">
          <li><a href="/">Inicio</a></li>
          <li>Entre em Contato</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- page-title end -->

  <!-- contact-section -->
  <section class="contact-section">
    <div class="container">
      <%= yield %>
    </div>
  </section>
  <!-- contact-section end -->

  <!-- main-footer -->
  <footer class="main-footer">
    <div class="container">
      <%= render partial: "layouts/main_footer" %>
    </div>
  </footer>
  <!-- main-footer end -->

  <!-- footer-bottom -->
  <div class="footer-bottom">
    <div class="container">
      <div class="copyright"><a href="https://campinapolis.com">Campinapolis.com</a> &copy; 2019</div>
    </div>
  </div>
  <!-- footer-bottom end -->

  <!--Scroll to top-->
  <button class="scroll-top scroll-to-target" data-target="html">
    <span class="fa fa-angle-up"></span>
  </button>
  <%= render partial: "layouts/modal" %>
</body>
</html>
